<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>37signals Should Hire</title>
    <%= csrf_meta_tags %>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <script type="text/javascript" src="//use.typekit.net/yzs6lwy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= javascript_include_tag "modernizr" %>
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">The 37Signals Coversite Generator</a>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>

